<!--Animated-->
<p id='head1' class='header'>First streaming platform</p>
<p id='head2' class='header'>just</p>
<p id='head3' class='header'>programmer</p>
<p id='head4' class='header'>create or join</p>
<p id='head5' class='header'>Welcome friend</p>
<!---->
<div class="welcome-page-container">
  <div class="welcome-page-content">
    <div class="welcome-page-button-wrapper">
      <button class="welcome-page-link" mat-raised-button color="primary"  routerLink="/create-conference">Create your own conference</button>
      <button class="welcome-page-link" routerLink="/join-conference">join to existing</button>
    </div>
  </div>
</div>
